<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <script>
        window.onload = function(){
            alert("初期化の直後に動くコード");
            console.log("コンソールにログを出します。");

            fetch("http://localhost:8080/api/employees")
            .then(res => {
                if(!res.ok){
                    throw new Error("network error. we couldn't call api.");
                }
                return res.json();

            })
            .then(jsonData => {
                console.log(jsonData);
                for(let i in jsonData){
                    console.log(jsonData[i]);
                    let formattedRow = [
                        jsonData[i].id,
                        jsonData[i].name,
                        jsonData[i].email
                        
                    ];
                    let row = generateRow(formattedRow);
                    let baseTable = document.getElementById("employeesTable");
                    baseTable.appendChild(row);
                }
            })
            .catch(err => console.error(err));
        };
        function generateRow(vals){
            let row = document.createElement("tr");  // <tr></tr>
            for(let i in vals){
                let cell = document.createElement("td"); // <td></td>
                cell.innerHTML= vals[i];      // <td>satomi</td>
                row.appendChild(cell);  //  <tr><td>satomi</td></tr>
            }
            console.log(row);
            return row;
        }
    </script>
    <table id="employeesTable" border="1" style="color:#404040; background:#f4f4f4; text-align:center;">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
        </tr>
    </table>
</body>
</html>